<!DOCTYPE html>
<html th:lang="${#ctx.locale}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/dashboard">
<head>

    <title th:text="#{global.application}">My Dashboard</title>

</head>

<body class="overflow-hidden">

    <li class="active" layout:fragment="active-page-name"> Test page</li>
    <!-- breadcrumb -->
    <div id="main-content" layout:fragment="page-main-content">
        <div class="main-header clearfix">
            <div class="page-title">
                <h3 class="no-margin" th:text="#{global.application}">Dashboard</h3>
                <span>Welcome back Mr.John Doe</span>
            </div><!-- /page-title -->

            <ul class="page-stats">
                <li>
                    <div class="value">
                        <span>Today visits</span>
                        <h4 id="currentVisitor">4256</h4>
                    </div>
                    <span id="visits" class="sparkline"></span>
                </li>
                <li>
                    <div class="value">
                        <span>My balance</span>
                        <h4>$<strong id="currentBalance">32153</strong></h4>
                    </div>
                    <span id="balances" class="sparkline"></span>
                </li>
            </ul><!-- /page-stats -->
        </div><!-- /main-header -->

        <div class="grey-container shortcut-wrapper">
            <a href="#" class="shortcut-link">
					<span class="shortcut-icon">
						<i class="fa fa-user"></i>
					</span>
                <span class="text">Invite Operator</span>
            </a>
            <a href="#" class="shortcut-link">
					<span class="shortcut-icon">
						<i class="fa fa-group"></i>
					</span>
                <span class="text">Hire Operator</span>
            </a>
            <a href="#" class="shortcut-link">
					<span class="shortcut-icon">
						<i class="fa fa-bar-chart-o"></i>
					</span>
                <span class="text">Statistic</span>
            </a>
            <a href="#" class="shortcut-link">
					<span class="shortcut-icon">
						<i class="fa fa-envelope-o"></i>
						<span class="shortcut-alert">
							5
						</span>
					</span>
                <span class="text">Messages</span>
            </a>
            <a href="#" class="shortcut-link">
					<span class="shortcut-icon">
						<i class="fa fa-globe"></i>
						<span class="shortcut-alert">
							7
						</span>
					</span>
                <span class="text">Notification</span>
            </a>
            <a href="#" class="shortcut-link">
					<span class="shortcut-icon">
						<i class="fa fa-list"></i>
					</span>
                <span class="text">Activity</span>
            </a>
            <a href="#" class="shortcut-link">
					<span class="shortcut-icon">
						<i class="fa fa-cog"></i></span>
                <span class="text">Setting</span>
            </a>
        </div><!-- /grey-container -->

        <div class="padding-md">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="panel-stat3 bg-success">
                        <h2 class="m-top-none visitor-count" id="visitorCount" th:text="${visitorsCount}">7214</h2>
                        <h5>Online Visitors</h5>
                        <i class="fa fa-arrow-circle-o-up fa-lg"></i><span class="m-left-xs">15% Higher than last week</span>
                        <div class="stat-icon">
                            <i class="fa fa-bar-chart-o fa-3x"></i>
                        </div>
                        <div class="refresh-button">
                            <i class="fa fa-refresh"></i>
                        </div>
                        <div class="loading-overlay">
                            <i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
                        </div>
                    </div>
                </div><!-- /.col -->
                <div class="col-sm-6 col-md-3">
                    <div class="panel-stat3 bg-danger">
                        <h2 class="m-top-none operator-count" id="userCount" th:text="${operatorsCount}">362</h2>
                        <h5>Online operators</h5>
                        <i class="fa fa-arrow-circle-o-up fa-lg"></i><span class="m-left-xs">5% Higher than last week</span>
                        <div class="stat-icon">
                            <i class="fa fa-user fa-3x"></i>
                        </div>
                        <div class="refresh-button">
                            <i class="fa fa-refresh"></i>
                        </div>
                        <div class="loading-overlay">
                            <i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
                        </div>
                    </div>
                </div><!-- /.col -->
                <div class="col-sm-6 col-md-3">
                    <div class="panel-stat3 bg-info">
                        <h2 class="m-top-none"><span id="serverloadCount">15</span>%</h2>
                        <h5>Now chatting</h5>
                        <i class="fa fa-arrow-circle-o-up fa-lg"></i><span class="m-left-xs">1% Higher than last week</span>
                        <div class="stat-icon">
                            <i class="fa fa-comment-o fa-3x"></i>
                        </div>
                        <div class="refresh-button">
                            <i class="fa fa-refresh"></i>
                        </div>
                        <div class="loading-overlay">
                            <i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
                        </div>
                    </div>
                </div><!-- /.col -->
                
                <div class="col-sm-6 col-md-3">
                    
                    <div class="panel-stat3 bg-warning">
                        <h4 class="m-top-none" id="orderCount">DEMO</h4>
                        <div class="input-group">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button"><i class="fa fa-share"></i></button>
							</span>
							<input class="form-control" type="text" />
						</div>
                        <i class="fa fa-arrow-circle-o-up fa-lg"></i><span class="m-left-xs">Add your web url and show example</span>
                        <div class="stat-icon">
                            <i class="fa fa-globe fa-3x"></i>
                        </div>
                        
                        <div class="loading-overlay">
                            <i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
                        </div>
                    </div>
                    
                </div><!-- /.col -->

            </div>

        </div><!-- /.padding-md -->

    </div><!-- /main-content -->



</body>
</html>

