<!DOCTYPE html>
<html th:lang="${#ctx.locale}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/error">
<head>

    <title th:text="${errMsg}">Custom error</title>

</head>

<body>

    <div class="h5" layout:fragment="error-message" th:text="${errorMsg.errorMessage}">Oops, forbidden access to this site!</div>
    <h1 class="m-top-none error-heading" layout:fragment="error-code" >403</h1>

    <a layout:fragment="error-link" class="btn btn-success m-bottom-sm" th:href="${errorMsg.forwardUrl}">
        <i class="fa fa-home"></i>
        <th:block th:text="${errorMsg.buttonText}"> Go Back</th:block>
    </a>

</body>
</html>
